/*
Name: Chael (100985450)
File: index.html
Date: 13 February 2025
Assignment 3.2 - CSS for a cool box.
*/

html {
  font-family: sans-serif;
}

/* Your CSS below here */

div {
  width: 200px;
  height: 150px;

  margin: auto;

  text-align: center;

  /*
  Vertical alignment
  */

  padding: 10%;

  /*
  Base font size calculated to be 16px.
  Desired font size is 17~18px.

  16 px * ? rem = 17~18px

  ? rem = 17/16px ~ 18/16px
        = 1.0625px ~ 1.125px
        ~= 1.1 rem
  */
  font-size: 1.1rem;

  background: red;

  color: #4040B0;
  text-shadow: 1px 1px 1px black;
  border-radius: 3px;

  border: 1px solid darkred;

  background-image: linear-gradient(to bottom right, rgb(0, 0, 0, 0%), rgb(0, 0, 0, 0.2) 30%);

}